# Backend configuration
PORT=3001
DATABASE_URL=postgresql://user:password@localhost:5432/flux
CORS_ORIGIN=*

# Worker mode can be 'true', 'envio', 'fluxo', or left blank for only API
WORKER_MODE=true

# Number to use for WPPConnect (format without +)
WPP_CONNECTNUMBER=5531999999999

# Frontend configuration (define in frontend/.env or use REACT_APP_API_URL)
REACT_APP_API_URL=http://localhost:3001
